.title {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  color: rgb(64, 102, 206);
  margin-top: 50px;
}

.underline {
  max-width: 6rem;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(78, 87, 219);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 80px;
  position: relative;
}
